body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

.login-box {
  width: 360px;
  max-width: 92vw;
  margin: 110px auto;
  background: #fff;
  padding: 22px;
  border-radius: 10px;
}

input, select, textarea, button, label {
  width: 100%;
  box-sizing: border-box;
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px;
}

/* icon mata */
.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 14px;
  cursor: pointer;
}

.eye-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #555;
  border-radius: 50% / 60%;
}

.eye-inner {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #555;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* mata tertutup */
.eye.closed .eye-inner {
  display: none;
}

.eye.closed::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  width: 26px;
  height: 2px;
  background: #555;
  transform: rotate(-20deg);
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px;
}

/* icon mata */
.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 14px;
  cursor: pointer;
}

.eye-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #555;
  border-radius: 50% / 60%;
}

.eye-inner {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #555;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* mata tertutup */
.eye.closed .eye-inner {
  display: none;
}

.eye.closed::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  width: 26px;
  height: 2px;
  background: #555;
  transform: rotate(-20deg);
}

input, select, textarea {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

textarea {
  min-height: 70px;
  resize: vertical;
}

button {
  background: green;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}

button:hover { opacity: 0.95; }

header {
  background: green;
  color: white;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 { margin: 0; }

.container { padding: 20px; }

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin-bottom: 16px;
}

th, td {
  border: 1px solid #d9d9d9;
  padding: 8px;
  text-align: center;
}

.status-dipinjam { color: red; font-weight: bold; }
.status-kembali { color: green; font-weight: bold; }

small { display: block; margin-top: 4px; color: #333; }

.danger {
  background: #b00020;
}

